/*-------- layout---------- */
.row {
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}
/*-------- scroll down animation---------- */
.scrolldown {
  opacity: 0;
  transform: translateY(-100px);
}
.scrolldown.on {
  animation: scrolldown 1s both;
}
@keyframes scrolldown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* -------------------sub top visual-------------------- */
#sub_visual {
  width: 100%;
  height: 580px;
  overflow: hidden;
  position: relative;
}
.visual_top_img.zoom {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url(../images/ideology_top_bg.jpg) no-repeat center top/cover;
  transition: 2s ease-in-out;
  opacity: 0.2;
  transform: scale(1);
  animation: zoom 2s both;
}
.visual_top_inner {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.visaul_top_txt {
  color: #fff;
  width: 100%;
}
.visaul_top_txt .location {
  margin-bottom: 30px;
}
.visaul_top_txt .location ul li {
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.5px;
}
.visaul_top_txt .location li:first-child::before {
  display: none;
}
.visaul_top_txt .location li:before {
  display: inline-block;
  content: '>';
  position: relative;
  top: -1px;
  vertical-align: middle;
  margin: 0px 20px 0 17px;
  color: #fff;
  font-size: 12px;
}
.visaul_top_txt h2 {
  font-size: 58px;
  letter-spacing: -0.65px;
  font-weight: 700;
}
.sub_page_btn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sub_page_btn .page_btn_prev {
}
/* -------------------sub - topmenu-------------------- */
#sub_contents {
  position: relative;
  padding: 80px 0 140px;
}
#sub_top_menu {
  position: absolute;
  top: -104px;
  left: 50%;
  transform: translateX(-50%);
  height: 150px;
  width: 100%;
  background-color: #fff;
  max-width: 1510px;
  margin: 0px auto;
  z-index: 2;
}
#sub_top_menu .inner_line {
  margin-bottom: 46px;
}

#sub_top_menu .inner_txt ul {
  height: 104px;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sub_top_menu .inner_txt ul li {
  display: inline-block;
  line-height: 104px;
  width: 175px;
  position: relative;
  text-align: center;
}
#sub_top_menu .inner_txt ul li:after {
  content: '';
  position: absolute;
  background: #aaa;
  width: 1px;
  height: 15px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
#sub_top_menu .inner_txt ul li:last-child:after {
  display: none;
}
#sub_top_menu .inner_txt ul li a {
  display: block;
  color: #585858;
  font-size: 20px;
  letter-spacing: -0.65px;
  font-weight: 400;
}
#sub_top_menu .inner_txt ul li a:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 50%;
  background: #1a978e;
  transition: 0.35s;
}
#sub_top_menu .inner_txt ul li a:after {
  content: '';
  background: url(../images/icon_triangle.png) no-repeat;
  position: absolute;
  width: 20px;
  height: 17px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  background-color: transparent;
  transition: 0.35s;
  display: none;
}
#sub_top_menu .inner_txt ul li:hover a:after,
#sub_top_menu .inner_txt ul li.on a:after {
  display: block;
}
#sub_top_menu .inner_txt ul li:hover a:before,
#sub_top_menu .inner_txt ul li.on a:before {
  width: 100%;
  left: 0;
}
#sub_top_menu .inner_txt ul li:hover a,
#sub_top_menu .inner_txt ul li.on a {
  color: #1a978e;
  font-weight: 600;
}
/* ------------------ sub_contents -------------------- */
.sub_content {
  margin: 0 auto;
}
.subpage_tit {
  font-weight: 600;
  font-size: 60px;
  color: #0e2c3f;
  text-align: center;
  text-transform: uppercase;
}
.sub_content_top p {
  text-align: center;
  font-size: 24px;
  color: #2b2b2b;
  line-height: 1.5;
  padding-top: 50px;
  word-break: keep-all;
  letter-spacing: -0.5px;
}
.sub_content_top p strong {
  font-weight: 700;
}
.ideology_list {
  margin-top: 90px;
}
.ideology_list ul {
  display: flex;
  justify-content: space-between;
}
.ideology_list ul li {
  width: 22.8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ideology_list ul li:nth-child(1) {
  animation-delay: 0.2s;
}
.ideology_list ul li:nth-child(2) {
  animation-delay: 0.4s;
}
.ideology_list ul li:nth-child(3) {
  animation-delay: 0.6s;
}
.ideology_list ul li:nth-child(4) {
  animation-delay: 0.8s;
}
.ideology_list ul li h4 {
  font-weight: bold;
  font-size: 26px;
  padding: 20px 0;
}
.ideology_list ul li p {
  height: 140px;
  font-weight: 300;
  font-size: 17px;
  color: #585858;
  line-height: 1.64;
  text-align: center;
  word-break: keep-all;
  padding: 20px 10px;
  border-top: 1px solid #ccc;
}
/*----------- CEO------------- */
.sub_content_top {
  position: relative;
}
.sub_content_top:before {
  position: absolute;
  content: ',,';
  font-size: 150px;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  left: 108px;
  top: 60px;
  color: #f0f0f0;
  letter-spacing: -20px;
  transform: rotate(180deg);
}
.ceo_content {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  /* background-color: #f5f5f5; */
  background: url(../images/ceo_txt_con_bg.png) no-repeat #f5f5f5;
  font-size: 20px;
  margin-top: 50px;
  color: #585858;
  letter-spacing: -0.65px;
  overflow: hidden;
}
.ceo_content > img {
  position: absolute;
  bottom: -23px;
  right: -47px;
}

.ceo_content .ceo_txt {
  padding: 50px 70px;
  line-height: 1.5;
}
.ceo_txt hr {
  display: inline-block;
  width: 600px;
  margin-bottom: 50px;
}
.ceo_content .ceo_txt em {
  font-weight: 600;
  font-size: 22px;
}
.sign {
  color: #353535;
  font-weight: 700;
}
.sign strong {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700;
  padding: 0 12px 0 28px;
}
.sign img {
  margin-top: -10px;
  vertical-align: middle;
}
/* -------------------- ABOUT INNOTECH - HISTORY --------------------- */
.history_top.zoom {
  background: url(../images/history_top.jpg) no-repeat center top/cover;
  transition: 2s ease-in-out;
  opacity: 0.2;
  transform: scale(1);
  animation: zoom 2s both;
  animation-delay: 0.5s;
}
.history_top .history_tit {
  padding: 100px 0;
  text-align: center;
  box-sizing: border-box;
}
.history_tit span {
  display: block;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
}
.history_tit h3 {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: -0.45px;
  color: #fff;
  padding-top: 20px;
}
.history_wrap {
  margin-top: 50px;
  padding: 75px 40px;
  display: flex;
  justify-content: center;
  position: relative;
}
.history_wrap:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 1px;
  height: 100%;
  top: 0;
  background: #ccc;
}
.history_wrap ul {
  width: 660px;
}
.history_wrap ul li {
  display: flex;
  margin-bottom: 80px;
}
.history_wrap ul li > div {
  width: 50%;
}
.history_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.history_left .history_txt {
  position: relative;
  padding-right: 70px;
}
.history_right .history_txt {
  padding-right: 0;
  padding-left: 90px;
}
.history_txt .txt:before {
  position: absolute;
  content: '';
  width: 50px;
  border: 1px dotted #1a978e;
  top: 0;
  right: -67px;
}
.history_right .history_txt .txt:before {
  right: 0;
  left: -90px;
}

.history_txt .txt:after {
  position: absolute;
  right: -90px;
  top: -19px;
  width: 39px;
  height: 39px;
  content: '';
  background: url(../images/history_icon.png) no-repeat;
  background-size: cover;
}
.history_right .history_txt .txt:after {
  right: 0;
  left: -109px;
}
.history_txt .year {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  letter-spacing: -0.5px;
  color: #1a978e;
  font-weight: 700;
  margin-bottom: 20px;
}
.history_txt .txt {
  position: relative;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.45px;
  font-weight: 400;
  color: #272727;
  margin-bottom: 6px;
}
.history_txt .txt span {
  margin-right: 8px;
  font-weight: bold;
}
.history_img {
  padding-left: 70px;
}
.history_img img {
  width: 100%;
}
.history_right .history_img {
  padding-left: 0px;
  padding-right: 70px;
}
/* -------------------- ABOUT INNOTECH - PARTNERS --------------------- */
.partners_top:before {
  display: none;
}
.partners_list > div {
  margin-top: 80px;
}
.partners_list h3 {
  position: relative;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.5px;
  color: #0e2c3f;
  padding-left: 21px;
  padding-bottom: 25px;
}
.partners_list h3:before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 3px;
  height: 22px;
  background: #1a978e;
  left: 0;
  top: 6px;
}
.partners_list ul {
}
.partners_list ul li {
  float: left;
  text-align: center;
  width: 20%;
  border: 1px solid #ccc;
  margin-right: -1px;
}
.partners_list ul li .partners_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
}
.partners_list ul li .partners_tit {
  padding: 20px 0;
  border-top: 1px solid #ccc;
}
/* -------------------- PRODUCT --------------------- */
.product_content {
  margin-top: 80px;
}
.product_top_img.zoom {
  background: url(../images/sub_visual_product.jpg) no-repeat center top/cover;
}
.product_list_wrap {
  display: flex;
  height: 700px;
}
.product_list_wrap .product_item {
  position: relative;
  flex: 1;
  border: 1px solid #000;
  transition: 0.4s;
}
.product_list_wrap .product_item.active {
  flex: 2.5;
}
.product_item .product_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.product_item .product_img:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  opacity: 0.6;
  transition: 0.35s;
}
.product_item:hover .product_img:before {
  opacity: 0;
  visibility: hidden;
}
.product_item:nth-child(1) .product_img {
  background: url(../images/product_item1.jpg) no-repeat center/cover;
}
.product_item:nth-child(2) .product_img {
  background: url(../images/product_item2.jpg) no-repeat center/cover;
}
.product_item:nth-child(3) .product_img {
  background: url(../images/product_item3.jpg) no-repeat center/cover;
}
.product_item:nth-child(4) .product_img {
  background: url(../images/product_item4.jpg) no-repeat center/cover;
}
.product_item:nth-child(5) .product_img {
  background: url(../images/product_item5.jpg) no-repeat center/cover;
}
.product_list_item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.product_list_item .item_title {
  width: 65%;
}
.product_list_item .item_title h3 {
  transform: rotate(90deg);
  color: #fff;
  font-size: 25px;
  margin-top: 130px;
}
.product_item.active .product_list_item h3 {
  margin-top: 0;
  padding-top: 80px;
  text-align: center;
  transform: rotate(0deg);
  font-size: 30px;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}
.product_list_item .hover_list {
  position: relative;
  opacity: 0.9;
  transition: all 0.5s ease;
  width: 35%;
  padding: 80px 20px;
  background: linear-gradient(
    135deg,
    rgba(0, 96, 102, 1) 0%,
    rgba(14, 44, 63, 1) 100%
  );
  visibility: hidden;
  opacity: 0;
  height: 0;
}
.product_item.active .hover_list {
  visibility: visible;
  opacity: 1;
  height: 100%;
}
.hover_list ul li {
  margin-top: 30px;
}
.hover_list ul li:first-child {
  margin-top: 0px;
}
.hover_list ul li a {
  font-size: 17px;
  line-height: 28px;
  color: #fff;
  padding-bottom: 4px;
  margin-bottom: 7px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}
.product_item.active .hover_list ul li a:hover {
  border-bottom: 1px solid #fff;
}
.view_more.white {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.view_more.white:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  bottom: 0;
  background: #fff;
  transition: 0.4s ease-in-out;
  z-index: -1;
}
.view_more.white:hover {
  color: #040f16;
}
.view_more.white:hover:after {
  top: 0;
}
.circle_more_btn img {
  position: absolute;
  bottom: 50px;
  left: 70px;
}
.product_item.active .circle_more_btn img {
  display: none;
}
/*----------------- PRODUCTS - modal-------------------- */
.modal.product_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.product_modal_inner {
  width: 50vw;
  height: 50vh;
  display: flex;
}
.modal.product_modal .modal_del {
  position: absolute;
  left: 74%;
}
.modal.product_modal .modal_del:before {
  display: none;
}
.modal.product_modal .slick-next {
  margin-right: 0;
  right: 29%;
}
.product_modal .slick-track {
  height: 100%;
}
.product_modal .slick-list {
  height: 100%;
}
.product_modal .slick-list div img {
  height: 100%;
}
.modal.product_modal .slick-prev {
  margin-left: 0;
  left: 44%;
}
.modal.product_modal .slick-dots {
  left: 7%;
  top: 67%;
}
.product_modal_inner .modal_desc {
  width: 30%;
  height: 100%;
  display: flex;
  padding: 65px 40px 0;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    rgba(26, 151, 142, 1) 0%,
    rgba(21, 106, 109, 1) 50%,
    rgba(15, 49, 67, 1) 100%
  );
  color: #fff;
}
.product_modal_inner .modal_inner {
  width: 70%;
}
.product_modal_inner .modal_inner .modal_img {
  /* width: 100%; */
}
.modal_desc h3 {
  padding-bottom: 17px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  font-size: 32px;
  line-height: 1.1;
  color: #fff;
  font-weight: 700;
}
.modal_desc .desc {
  margin-top: 50px;
}
.modal_desc .desc p {
  margin-bottom: 30px;
}
.modal_desc .desc p strong {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #186b67;
}
.modal_desc .desc span {
  display: block;
}
.product_modal .modal_inner {
  position: static;
  transform: none;
}
.modal.product_modal .slick-dotted.slick-slider {
  margin-bottom: 0;
}
/*------------------- TECHNOLOGY - 연구개발--------------------- */
.visual_top_img.technology_top_img {
  background: url(../images/sub_visual_technology.jpg) no-repeat center
    top/cover;
}
.tech_wrap {
  padding-top: 140px;
  text-align: center;
}
.tech_top_tit span {
  display: block;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0;
  color: #0e2c3f;
  padding-bottom: 8px;
  text-transform: uppercase;
}
.tech_top_tit h3 {
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.5px;
  color: #0e2c3f;
  line-height: 1.5;
}
.tech_top_tit h3 strong {
  font-weight: 600;
}
.tech_top_img {
  margin: 80px 0 40px;
}
.tech_wrap .tech_top > p {
  font-weight: 400;
  font-size: 19px;
  letter-spacing: -0.5px;
  color: #585858;
  line-height: 2.1em;
  padding-top: 30px;
}
.tech_content {
  padding-top: 140px;
  text-align: center;
}
.tech_content ul {
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
}
.tech_content .capalist li {
  width: 31%;
  border: 1px solid #d2d2d2;
}
.tech_content .capalist li .capa_img img {
  width: 100%;
}
.tech_content .capalist li .capa_txt {
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech_content .capalist li .capa_txt p {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.75px;
  color: #2b2b2b;
}
/*------------------- TECHNOLOGY - 주요설비--------------------- */
.tech_content .facility_inner,
.equipment .facility_inner {
  margin-top: 50px;
  padding: 100px 0;
}
.tech_content .facility_inner dl,
.equipment .facility_inner dl {
  padding-top: 40px;
}
.quality_inner {
  margin-top: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url(../images/for_product_bg.jpg) no-repeat center/cover;
}
.equipment .facility_inner .faility_list {
  justify-content: space-between;
}
.equipment .facility_inner .faility_list dl {
  margin-bottom: 2%;
}
.quality_inner .faility_list {
  width: 100%;
  padding: 100px 0;
  justify-content: space-between;
}
.equipment .faility_list dl,
.quality_inner .faility_list dl {
  width: 24%;
  margin: 0;
  flex-direction: column;
  padding: 0;
  padding-bottom: 40px;
}
.equipment .faility_list dl {
  width: 32%;
}
.equipment .faility_list dl .list_icon,
.quality_inner .faility_list dl .list_icon {
  height: 150px;
  display: flex;
  align-items: center;
}
.equipment .faility_list dl dt,
.quality_inner .faility_list dl dt {
  width: auto;
}
.equipment .faility_list dl .list_icon img,
.quality_inner .faility_list dl .list_icon img {
  width: 100%;
}
.list_txt {
  text-align: center;
}
/* -------------------- QMS - 품질보증 --------------------- */
.qms_top_img.zoom {
  background: url(../images/sub_visual_qms.jpg) no-repeat center top/cover;
}
.sub_content_top.qly_content_top:before {
  display: none;
}
.qly_slide_wrap {
  margin-top: 33px;
  /* overflow: hidden; */
  width: 1300px;
  height: 410px;
  position: relative;
}
.qly_slide_wrap .qly_slide_list {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.qly_slide_wrap .qly_slide_list .qly_slide {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.qly_slide_dots {
  margin-top: 20px;
  text-align: center;
}
.qly_slide_dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #666;
  border-radius: 50%;
  margin: 0 5px;
  transition: 0.3s;
}
.qly_slide_dots span.active {
  background: #040f16;
  width: 26px;
  border-radius: 30px;
}
.qly_content {
  text-align: center;
  margin-top: 126px;
}
.qly_content > img {
  padding: 30px 0 22px;
}
.qly_con_tit {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: -0.5px;
  color: #0e2c3f;
}
.qly_con_txt {
  font-weight: 400;
  font-size: 19px;
  letter-spacing: -0.5px;
  color: #585858;
  line-height: 2.1em;
}
.qly_content .quality-photo {
  padding: 30px 0 22px;
}
.equipment {
  padding-top: 80px;
}
/* -----------  certification -------------*/
.certifi_list_wrap {
  max-width: 815px;
  margin: 0 auto;
}
.certifi_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.certifi_list li {
  width: 27%;
  margin-bottom: 40px;
}

.certifi_list li .certifi_tit {
  font-size: 18px;
  line-height: 1.4em;
  color: #6c6c6c;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 17px;
}
.certifi_list li .certifi_thumb span img {
  width: 100%;
}
.certifi_list li .certifi_thumb {
  border: 8px solid #6f6f6f;
  transition: 0.35s;
}
.certifi_list li:hover .certifi_thumb {
  border: 8px solid #1daca2;
}
/* certification 모달 */
.certi_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}
.certi_modal.show {
  display: block;
}
.certi_modal_bg {
  background: #0b0b0b;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.certi_modal_inner {
  z-index: 1000;
  text-align: left;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #fff;
}
.certi_modal_inner p {
  margin-top: 8px;
}
.certi_modal_inner .close {
  position: absolute;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: zoom-out;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  top: -40px;
  font-size: 40px;
  color: #fff;
}
/* -----------  recruit - talent -------------*/
.visual_top_img.talent_top_img.zoom {
  background: url(../images/sub_visual_recruit.jpg) no-repeat center top/cover;
}
.ideology_list.talent_list ul li {
  width: 31%;
}
.ideology_list.talent_list {
  padding-bottom: 80px;
}
.talent_guide_img {
  padding: 62px 0 72px;
}
.apply_btn {
  text-align: center;
}
.apply_btn a {
  display: inline-block;
  width: 240px;
  height: 62px;
  line-height: 62px;
  background: #1a978e;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.75px;
  border-radius: 30px;
  text-align: center;
  transition: 0.4s;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.4);
}
.apply_btn a:hover {
  transition: 0.4s;
  background: #1daca2;
}
.apply_btn a .fa {
  padding-left: 10px;
  transform: translateX(0);
  transition: 0.4s;
}
.apply_btn a:hover .fa {
  transform: translateX(20px);
}
/* -----------  recruit - welfare -------------*/
.welfare_top:before {
  display: none;
}
.welfare_img {
  position: relative;
  margin-top: 67px;
  text-align: center;
  height: 689px;
}
.welfare_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welfare_img img:nth-child(2) {
  animation: circle 9s infinite linear;
}
@keyframes circle {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.welfare_top.scrolldown {
  animation-delay: 0.3s;
}
